html,
body,
#root {
  height: 100%;
}

.Quiz {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  background-size: 100% 100%;
}

.quizheading{
    background-image: url("https://assets.hongkiat.com/uploads/beautiful-minimalist-desktop-wallpapers/4k/preview/01.jpg?3");
    background-size:cover;
}

.Quiz .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
  box-shadow: 10px 10px 5px lightblue;
  font-family: "Times New Roman", Times, serif;
}



.Quiz .content{
    padding: 10px;
}

.Quiz h1{
    font-size: 20px;
}


label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
    
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  
