.heading, .desc{
  color: black;
  font-weight: bold;
}

.h1{
  color: white;
}

img{
  opacity: 0.5;
}

.bg{
  background-image: url("https://assets.hongkiat.com/uploads/beautiful-minimalist-desktop-wallpapers/4k/preview/01.jpg?3");
  background-repeat:no-repeat;
  background-size:  cover;
}

.scroll{
  overflow:hidden;
}

